requests==2.31.0
python-dotenv==1.0.1
SpeechRecognition==3.10.4
pyttsx3==2.90
pyautogui==0.9.54
psutil==5.9.8
pyperclip==1.8.2
PyAudio==0.2.14
winshell==0.6
pywin32==306
pycaw==20240210
comtypes==1.2.1
screen-brightness-control==0.24.1
Flask==3.0.3
opencv-python==4.10.0.84
pywhatkit==5.4
edge-tts==6.1.19
playsound==1.2.2
